body {
    margin: 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.slides img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    flex-shrink: 0; /* no se encoge si no hay suficiente espacio en el flex */
}

/* BOTONES */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 10;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* TEXTO */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 12px;
}